doctype html
html
  head
      block head
        title=title
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');</style>
        script(src="https://kit.fontawesome.com/e2eb58d7ee.js" crossorigin="anonymous")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/forms.css')
        <link rel="icon" href="./favicon.png">
        link(rel="stylesheet" href="/stylesheets/index.css")
        script(src="/javascripts/forms.js" type="module")
  body
    .nav
      a.mediumImg(href="/")
      if !locals.authenticated
        //- form.noAuthMenu(action="/" method="GET")
        .noAuthMenu
          a#loginButton Log In
          a#signupButton Sign Up
          form(action="/users/demo" method="POST")
            input(type='hidden' name='_csrf' value=csrfToken)
            input#demoButton.button(type="submit" value="Demo User")
      else
        .authMenu
          p Welcome #{user.firstName}
        form#logoutDiv(action="/users/logout" method="POST")
          input(type='hidden' name='_csrf' value=csrfToken)
          .buttonLogout
            button#logoutButton Log Out

    .login
      .container
        .contents
          h2.heading Welcome Back.
          form(action="../users/login" method="POST")
            .data
              input(type='hidden' name='_csrf' value=csrfToken)
              label(for="email") Email
              input(type="email" required="required" name="email")
              label(for="password") Password
              input(type="password" required="required" name="password")
              input.button(type="submit" value="Login")
              p.signupLink No account?
                a(href="/users/signup") Sign Up

    .signup
      .container
        .contents
          h1.heading Sign Up
          form(action="/users/signup" method="POST")
            .data
              input(type='hidden' name='_csrf' value=csrfToken)
              label(for="firstName") First Name
              input(type="text" required="required" name="firstName")
              label(for="lastName") Last Name
              input(type="text" required="required" name="lastName")
              label(for="username") User Name
              input(type="text" required="required" name="username")
              label(for="email") Email
              input(type="email" required="required" name="email")
              label(for="password") Password
              input(type="password" required="required" name="password")
              label(for="confirmPassword") Confirm Password
              input(type="password" required="required" name="confirmPassword")
              input.button(type="submit" value="Sign Up")
              p.signupLink Already have an account?
                a(href="/users/login") Log In

block content


  .footer
