extends layout

append head
    link(rel="stylesheet" href="/stylesheets/profile.css")

block content
    body
        .profile-header
            h1 #{profileUser.firstName} #{profileUser.lastName}
            h3 #{profileUser.about}
            .profile-nav
                div
                    include follow-button.pug
                div
                    span #{userRelationships.length}
                    span following
                div
                    span#followerCount #{userFollowerRelationships.length}
                    span followers
    hr
    .profile
        .about-sidebar
            div
                img(src='' + profileUser.profileImage id="profileImage")
                h3 #{profileUser.firstName} #{profileUser.lastName}
                include follow-button.pug
            hr
            div
                p #{profileUser.firstName} #{profileUser.lastName} FOLLOWS
                ul
                    - let n = 0;
                    while n < usersFollowing.length && n < 5
                        li
                            a(href=`/profiles/${usersFollowing[n].username}`)
                                img(src='' + usersFollowing[n].profileImage class="followingIcon")
                                span #{usersFollowing[n].firstName} #{usersFollowing[n].lastName}
                        - n++
        .feed
            ul
            .listHeader
                h4 #{profileUser.firstName} #{profileUser.lastName}'s Stories
            if !storyList.length
                h3 #{profileUser.firstName} #{profileUser.lastName} hasn't written any stories yet
            else
                for story in storyList
                    .storyContainer
                        a(value=""+ story.id href=`/stories/${story.id}`)
                            .storyDiv
                                li.storyTitle= story.title
                                li.previewWithImage
                                    p.storyPreview= story.content
                                    if story.storyImage
                                        img#storyImage(src="" + story.storyImage)
                                    else
                                        p story has no image
                        include like-button.pug
                    hr

    footer
        script(src="/javascripts/like.js" type="module")
        script(src="/javascripts/follow.js" type="module")
          script(src="/javascripts/index.js" type="module")
