extends layout.pug

block content
    body
    .profile-header
        h1 #{user.firstName} #{user.lastName}
        p #{user.about}
    .profile-nav
        button.followButton Follow
        a #{followers}
        a(href=`/users/:userId/about`) About
    .profile
        .about-sidebar
            div
                img(src='' + user.profileImage)
                p #{user.firstName} #{user.lastName}
                button.followButton Follow
            div
                p #{user.firstName} #{user.lastName} FOLLOWS
                ul
                  each followed in mappedUsersFollowing
                    li #{followed.firstName} #{followed.lastName}
                    //- - let n = 0;
                    //- while n < 5
                    //-     //- LIST 5 PEOPLE THAT USER FOLLOWS

                    //-     - n++


        .feed

    footer
                script(src="/javascripts/follow.js" type="module")
