doctype html
html
  head
      block head
        title=title
        <style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');</style>
        <script src="https://kit.fontawesome.com/e2eb58d7ee.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/forms.css')
        <link rel="icon" href="./favicon.png">
        link(rel="stylesheet" href="/stylesheets/index.css")
        script(src="/javascripts/forms.js" type="module")
  body
    .nav-splash
      a.mediumImg(href="/")
        .noAuthMenu
          a#loginButton Log In
          a#signupButton Sign Up
          form(action="/users/demo" method="POST")
            input(type='hidden' name='_csrf' value=csrfToken)
            input.button(type="submit" value="DEMO")
    .cta
        h1.header Medium for Mediums is a place for the spiritual to write, read, and connect
        p It's easy and free to post your thinking on ghostly topic and connect with millions of readers.
        a() Signup
    .splash-lower
        .sample-feed
            ul.listHeader Most Recent on Medium for Mediums
            for story in storyList
                div
                .storyDiv(value=""+ story.id href="/stories/id")
                    li.profileImage
                        img.titleImage(src="" + story.User.profileImage)
                    li.storyImage
                        img(src="" + story.storyImage)
                    a.authorName #{story.User.firstName} #{story.User.lastName}
                    li.storyTitle=story.title
        .developer-info
