extends layout.pug

append head
    script(src="/javascripts/comments.js" type="module")
    script(src="/javascripts/like.js" type="module")
    link(rel="stylesheet" href="/stylesheets/stroyId.css")


block content

    if user.id == story.userId
        .editDeleteButtons
            form#editStoryButton(action="/stories/"+ story.id + "/edit" method='GET')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='submit' value='Edit')
            form#deleteStoryButton(action="/stories/"+ story.id method='POST')
                input(type='hidden' name='_csrf' value=csrfToken)
                input(type='submit' value='Delete')

    .story
        if story.storyImage
            img#storyImage(src="" + story.storyImage)
        else
            p story has no image
        h1= story.title
        p.storyContent= story.content
        div
            include like-button.pug
            if user.id == story.userId
                .editDeleteButtons
                    form#editStoryButton(action="/stories/"+ story.id + "/edit" method='GET')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        input(type='submit' value='Edit')
                    form#deleteStoryButton(action="/stories/"+ story.id method='POST')
                        input(type='hidden' name='_csrf' value=csrfToken)
                        input(type='submit' value='Delete')
        .comments
            label( for="newComment" name="newComment")
            textarea#newComment(name="newComment", cols="30", rows="10", placeholder="What are your thoughts?")
            button#submitCommentButton(type='submit' value=story.id ) Respond
            #commentsDiv
                for comment in story.Comments
                    .thisComment(id='thisComment'+comment.id)
                        p(id= 'comment'+comment.id)= comment.content
                        .editText(id= "editController"+comment.id value=comment.id)
                            textarea(id="textArea"+comment.id)= comment.content
                            button.submitEdit(id= "submitEdit"+comment.id) Submit
                            button.cancelEdit(id= "cancelEdit"+comment.id) Cancel
                        if user.id == comment.userId
                            .editDeleteButtons
                                button.editCommentButtons(value= comment.id) Edit
                                button.deleteCommentButtons(value= comment.id) Delete
